body {
    background-color:blanchedalmond;
    font-family: Arial;
    text-align: center;
}

ol.top5 {
    display: inline-block;
    text-align: left;
}

.image-size {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 310px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li:last-child {
    margin-right: 0; 
}

.nav-links a {
    text-decoration: none;
    color: #f50808; 
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

/* Previous button styling */
#previousBtn {
    background-image: url('https://github.com/AAlavilo/Html/blob/main/HTML_kuvia/Icons/arrow_left.png?raw=true'); 
    background-size: 40px; 
    background-repeat: no-repeat;
    height: 60px;
    background-position: calc(100% - 10px) center; 
    padding-left: 40px; 
    padding-right: 20px;
    float: left;
}

/* Next button styling */
#nextBtn {
    background-image: url('https://github.com/AAlavilo/Html/blob/main/HTML_kuvia/Icons/arrow_right.png?raw=true'); 
    background-size: 40px;
    background-repeat: no-repeat;
    height: 60px;
    background-position: calc(100% - 10px) center; 
    padding-right: 40px;
    padding-left: 20px; 
    float: right;
}

/* Hover effect */
.arrow-button:hover {
    background-color: #ddd;
}

/*
.gallery-controls::after {
    content: "";
    display: table;
    clear: both;
}
*/

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.image-gallery img { 
    border-radius: 10%;
    flex: 0 0 300px;
    height: 400px;
    scroll-snap-align: start;
}

